#IMD{
    font-size: 100px;
    line-height: 130%;
    align:center;
}

#bitcoin{
    text-align:center;
    vertical-align:bottom;
    border-radius:30px;
}

#1 #2 #3 #4 #5 #6 #7 #8 #9 #10 #11 #12{
    max-width:100px;
}

#its{
    font-size:70px;
    color:#555;
}

#tiny{

    font-size:70px;
    color:#555;
}


#trading{

    font-size:60px;
    color:#777;
}

#prophecy{

    font-size:160px;
    color:#777;
}

#thanks{

    font-size:120px;
    color:#777;
}